<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ title }}</title>

  <link rel="stylesheet" href="static/bootstrap/bootstrap.min.css" />
  <link rel="stylesheet" href="static/leaflet/leaflet.css" />
  <link rel="stylesheet" href="static/leaflet/leaflet-routing-machine.css" />
  <link rel="stylesheet" href="static/music-road/music-road.css" />

</head>
<body>
  <script src="static/leaflet/leaflet.js"></script>
  <script src="static/leaflet/leaflet-routing-machine.min.js"></script>
  <script src="static/leaflet/MovingMarker.js"></script>
  <script src="static/tone/Tone.min.js"></script>

  <div class="container-fluid">
    <h1 class="display-3">Music Road</h1>
    <p class="lead">Welcome! This is an experiment on synesthetic travel planning.</p>
    <div id="map" class="map"></div>
    <footer class="footer">
      <p>&copy; Damien Picard 2017</p>
    </footer>
  </div>

  <script src="static/music-road/music-road.js"></script>
</body>
</html>
